<launch>
  <node pkg="adaptive_clustering" name="adaptive_clustering" type="adaptive_clustering">
    <param name="print_fps" value="true"/>
    <param name="sensor_model" value="VLP-16"/>
  </node>
  <node pkg="adaptive_clustering" name="ls2pc" type="ls2pc.py"/>
  <node pkg="adaptive_clustering" name="obstacle_avoid" type="obstacle_avoid.py"/>
  <!--<node pkg="rviz" type="rviz" name="rviz" args="-d $(env PWD)/adaptive_clustering.rviz"/>-->
</launch>
